*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100%;}
html.active {overflow: hidden}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'NotoSansKR-Regular', sans-serif;
    font-size: 14px;
}

hr, caption {display: none;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

img {vertical-align: middle; border: none;}

ol, ul, li, dl, dt, dd {list-style: none;}
li > a {display: block;}

table {width: 100%; border-spacing: 0; border-collapse: collapse; border: 0;}

th {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    font-weight: normal;
}

th, td {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-all;
    border: 0;
}

fieldset {width: 100%; border: 0;}
legend {display: none;}
caption {}
frameset {border: 0;}
iframe {width: 100%;border: 0;}
em, address {font-style: normal;}

button {cursor: pointer; border: 0; background: none;}
button, a, select, input, label {vertical-align: middle;}
label {cursor: pointer}
input, a, button, span, select, textarea:focus {outline: none !important;}
a {text-decoration: none;}
a:active, link {color: #111111;border: 0;}
a:hover {}
i {font-style: normal;}

/* Change the color to your own background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: background-color 9999s ease-out;
    transition: background-color 5000s ease-in-out 0s;
    /*-webkit-box-shadow: 0 0 0px 1000px white inset !important;*/
    /*-webkit-text-fill-color:#fff !important;*/
}

@font-face {
    font-family: 'NotoSansKR-Regular';
    src: url('../fonts/NotoSansKR-Regular.eot');
    src: local('../fonts/Noto Sans CJK KR'),
    local('../fonts/NotoSansCJKkr-Regular'),
    url('../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Regular.woff') format('woff');
}
