.mgl-10 {margin-left: 10px;}
.mgl-20 {margin-left: 20px;}
.mgl-30 {margin-left: 30px;}
.mgl-40 {margin-left: 30px;}
.mgl-50 {margin-left: 30px;}

.mgr-10 {margin-right: 10px;}
.mgr-20 {margin-right: 20px;}
.mgr-30 {margin-right: 30px;}
.mgr-40 {margin-right: 40px;}
.mgr-50 {margin-right: 50px;}
.mgr-60 {margin-right: 60px;}
.mgr-70 {margin-right: 70px;}
.mgr-80 {margin-right: 80px;}
.mgr-90 {margin-right: 90px;}
.mgr-100 {margin-right: 100px;}

.mgt-10 {margin-right: 10px;}
.mgt-20 {margin-right: 20px;}
.mgt-30 {margin-right: 30px;}
.mgt-40 {margin-right: 40px;}
.mgt-50 {margin-right: 50px;}

.mgb-10 {margin-right: 10px;}
.mgb-20 {margin-right: 20px;}
.mgb-30 {margin-right: 30px;}
.mgb-40 {margin-right: 40px;}
.mgb-50 {margin-right: 50px;}

.text-right {float: right;}
.text-center {text-align: center;}
.text-left {float: left;}

li.active > a {color: #009be5 !important;}

.active-tab {color: #fff !important; border: 1px solid #43a7b7; background-color: #43a7b7;}
.btn {padding: 5px 9px 5px 9px; color: #fff; border-radius: 5%; background-color: #4fa5db;}